/* Styles for Header Starts */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter' !important;
}

body {
  line-height: 1.4;
}

.main-wrapper img {
  width: 150%;
  display: block;
}


@media (max-width: 900px) {
  .main-wrapper img {
    width: 50%;
    display: block;
  }
}


.main-wrapper a {
  color: #000;
  text-decoration: none;
}

.main-wrapper ul li {
  list-style-type: none;
}

.navbar {
  background: #fff;
  padding: 0 1rem;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.brand-and-icon {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
}

.navbar-brand {
  font-size: 1.8rem;
  letter-spacing: 3px;
  font-weight: 700;
}

.navbar-toggler {
  display: block;
  border: none;
  background: transparent;
  font-size: 1.8rem;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  transition: all 0.4s ease;
  border: none;
  border-radius: 4px;
}

.navbar-toggler:hover {
  opacity: 0.7;
}

.navbar-collapse {
  overflow-y: scroll;
  display: none;
}

.navbar-nav>li>a {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  display: block;
  padding: 0.6rem 0;
  margin: 0.2rem 0;
  border-bottom: 1px solid #ddd;
  border-radius: 1px;
  position: relative;
  transition: all 0.4s ease;
}

.drop-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-nav>li>a:hover {
  opacity: 0.7;
}

.sub-menu h4 {
  text-transform: capitalize;
  font-size: 1rem;
  padding: 0.5rem 0;
}

.sub-menu ul li {
  text-transform: capitalize;
  padding: 0.2rem 0;
  margin: 0.2rem 0;
  font-size: 0.95rem;
}

.sub-menu ul li a {
  opacity: 0.8;
  transition: all 0.5s ease;
}

.sub-menu ul li a:hover {
  padding-left: 14px;
  opacity: 0.9;
}

.sub-menu {
  display: none;
}

.sub-menu-item {
  padding-left: 1.2rem;
}

.sub-menu-item:nth-child(4) {
  background: #EFEFEF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.sub-menu-item:nth-child(4) h2 {
  text-transform: capitalize;
  margin: 1.5rem 0;
}

.sub-menu-item:nth-child(4) .btn {
  border: 1px solid #0069ff;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  background: #0069ff;
  color: #fff;
  transition: all 0.5s ease;
}

.sub-menu-item:nth-child(4) .btn:hover {
  background: transparent;
  color: #0069ff;
}

.sub-menu-item:nth-child(4) {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

/* header */
.header {
  /* background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/banner-bg.jpg) center/cover no-repeat; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h2 {
  margin: 1rem;
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
  letter-spacing: 2px;
}

.header p {
  margin: 1rem auto;
  color: #fff;
  width: 60%;
  opacity: 0.8;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
}

.header button {
  margin: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  background: #000;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  transition: all 0.5s ease;
  cursor: pointer;
}

.header button:hover {
  background: #fff;
  color: #000;
}

/* Media Queries */
@media screen and (min-width: 992px) {
  .navbar {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 0 5rem;
    position: relative;
  }

  .navbar-toggler {
    display: none;
  }

  .brand-and-icon {
    flex: 0 0 100px;
    border-bottom: none;
    padding: 0;
  }

  .navbar-collapse {
    display: block !important;
    overflow-y: hidden;
    flex: 1 0 auto;
  }

  .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-nav>li>a {
    border-bottom: none;
    margin: 0 0.4rem;
    padding: 1.7rem 1.8rem 1.7rem 0.8rem;
    font-size: 15px;
    font-weight: 600;
  }

  .sub-menu {
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    background: white;
  }

  .navbar-nav>li:hover .sub-menu {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 5rem;
  }

  .navbar-nav>li {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s ease;
  }

  .navbar-nav>li:hover {
    border-bottom-color: #0069ff;
  }

  .sub-menu-item {
    padding-left: 0;
  }

  .sub-menu-item:nth-child(3) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  /* header */
  .header {
    height: calc(100vh - 75px);
  }

  .header h2 {
    font-size: 6rem;
  }

  .header p {
    width: 40%;
  }
}


/* Styles for Header Ends*/


body {
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
  font-family: 'Inter' !important;
}

.root {
  padding: 0 !important;
  margin: 0 !important;
  width: 100vw;
  margin: auto;
  overflow-x: hidden !important;
}

.heroSection {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8% 26%;
  background: white;
  text-align: center;
}

.center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.right {
  display: flex !important;
  justify-content: right !important;
  align-items: center !important;
}

.bigHeading {
  font-size: 60px;
  color: black;
  font-weight: 600;
  margin-top: 3%;
  margin-bottom: 2%;
  line-height: 1em;
}

.globalPara {
  width: 90%;
  margin: auto;
  font-weight: 500;
  font-size: 17px;
  opacity: 70%;
  line-height: 1.6em;
  margin: 0;
}

.brandsBox {
  width: 60%;
  margin: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
  text-align: center;
}

.logo {
  width: 140px;
  filter: grayscale(100%);
}

.featuresSection {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 17% 0;
  background-color: white;
  border-radius: 250px 0 0 0;
}

.css-1ld3b9g-MuiGrid-root {
  margin-top: 0 !important;
}

.formationSection {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 17% 0;
}

.featuresHeading {
  font-size: 45px;
  color: black;
  font-weight: 600;
  margin-top: 3%;
  margin-bottom: 0;
  line-height: 1.1em;
}

.featuresPara {
  width: 90%;
  font-weight: 500;
  font-size: 16px;
  opacity: 80%;
  line-height: 1.5em;
  margin: 0;
  margin-bottom: 5%;
}

.icon {
  color: white !important;
  padding: 20% !important;
  border-radius: 50% !important;
  background: #0069ff !important;
}

.list {
  font-family: 'Inter';
  width: 100%;
  max-width: 360px;
}

.faqSection {
  width: 100%;
  margin: auto;
  padding: 5% 20%;
}

.faqInnerSection {
  padding: 3% 10%;
  border-radius: 10px;
  background-color: #EFEFEF;
}

.faq {
  width: 100%;
  padding: 0;
  font-family: 'Inter';
}

.faqItem {
  padding: 2%;
  margin-bottom: 2% !important;
  border-radius: 10px;
  border: none !important;
}

.pricingTable {
  width: 100%;
  margin: auto;
  display: flex;
  padding-top: 3%;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  padding: 3%;
}

.cancelIcon {
  color: rgb(173, 173, 173);
}

.cancelIcon:hover {
  cursor: pointer;
}

.pricingPackage {
  display: none !important;
}

.globalButton {
  background: #0069ff;
  color: white !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  margin-top: 2%;
  border-radius: 50px !important;
}

.mobileHeroImg {
  display: none;
}

.footerSec {
  border-top: 4px solid #0069ff;
  color: black;
  padding: 6% 13%;
}

.servicesSection {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5% 13%;
  background-color: rgb(238, 238, 238);
}


.servicesDiv {
  background-color: white;
  border-radius: 17px;
  padding: 3% !important;
  padding-right: 1% !important;
  margin-top: 3% !important;
  margin-right: 2% !important;
  box-shadow: 0 0 40px rgb(207, 207, 207);
}

.listItem {
  font-family: 'Inter' !important;
  font-weight: 500;
}

.css-v84d5j-MuiSvgIcon-root {
  font-size: 25px !important;
  color: #0069ff !important;
}


@media (max-width: 768px) {
  #headerBtn {
    display: none !important;
  }
}

@media (max-width: 900px) {

  #headerBtn {
    display: none !important;
  }

  .heroSection {
    padding: 8% 3%;
  }

  .bigHeading {
    font-size: 40px;
  }

  .globalPara {
    width: 100%;
    margin-top: 6%;
    padding: 0 3%;
  }

  .brandsBox {
    width: 100%;
    padding: 10% 3% 20%;
  }

  .featuresSection {
    padding: 5% 7%;
    border-radius: 200px 0 0 0;
  }

  .featuresHeading {
    font-size: 35px;
  }

  .featuresContent {
    order: 2;
  }

  .featuresImg {
    order: 1;
  }

  .formationSection {
    padding: 10% 7%;
  }

  .faq {
    width: 90%;
    padding: 10% 0;
  }

  .faqItem {
    padding: 1%;
  }

  .pricingTable {
    width: 100%;
    padding: 10% 5%;
  }

  .modal {
    width: 80%;
    border-radius: 15px;
    padding: 7% 5%;
  }

  .cancelIcon {
    display: none !important;
  }

  .feeCalc {
    padding-top: 2%;
  }

  .pricingImg {
    display: none !important;
  }

  .css-19kzrtu {
    padding: 0 !important;
  }

  .pricingPackage {
    width: 100%;
    margin: auto;
    /* background-color: #F2F2F2; */
    display: block !important;
    margin-bottom: 5%;
    border-radius: 0 0 5px 5px;
  }

  .pricingPackageBar {
    background-color: white;
    border-radius: 5px 5px 0 0;
  }

  .tabBrand {
    color: black !important;
  }

  .pricingTab {
    text-align: left !important;
  }

  .tabLeftCol {
    text-align: left;
  }

  .tabRightCol {
    text-align: center;
  }

  .pricingContent {
    font-size: 18px;
    margin: 0;
    padding: 0;
  }

  .globalButton {
    padding: 3% 6% !important;
  }

  .desktopHeroImg {
    display: none;
  }

  .mobileHeroImg {
    display: block;
  }

  .mobilePrice {
    font-size: 30px !important;
  }

  .footerSec {
    padding: 10% 5%;
  }

}